/archive
/data
/docs/archive
/logs
/src/.env
/src/db/bulkimport/data/
/src/indexing/bulkimport/wikipedia/cirrussearch
/src/web/content/dynamic/instance/
/src/web/content/dynamic/searchmysite.egg-info/
*__pycache__*
*.vscode*
*.code-workspace

.DS_Store
