{% extends "layoutwithchatbox.html" %}

{% block title %}Search My Site - {{ subtitle }}{% endblock %}

{% block content %}

				{% if results %}

				<div class="row sms-results-list sms-t-48">
					<div class="col-lg-12">
						{% for result in results %}
						<div class="search-result sms-b-72">
								<h2 class="sms-h2 sms-b-8">
									{% if result['contains_adverts'] %}<img src="/static/images/containsadverts44x24.gif" alt="Page contains adverts" class="float-left" style="margin-right: 4px">{% endif %}
									{% if result['published_date'] %}<span id="result-published-date">{{ result['published_date'] }}</span>:{% endif %}
									<a href="{{ result['url'] }}" class="result-title">{{ result['url'] }}</a>
								</h2>
							{% if result['content_chunk_text'] %}
								<p id="result-hightlight" class="sms-p1">
									{{ result['content_chunk_text'] }}
									<!-- score: {{ result['score'] }} -->
								</p>
							{% endif %}
							{% if result['subresults'] %}
								{% for subresult in result['subresults'] %}
								<p class="sms-p3 sms-subresult"><a href="{{ subresult['url'] }}" class="result-title-other">{{ subresult['short_title'] }}</a></p>
								{% endfor %}
								<p class="sms-p3 sms-subresult"><a href="?{{ result['subresults_link'] }}" class="result-title-other">{{ result['subresults_link_text'] }}</a></p>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>

				{% else %}

				<pre>
				</pre>
				<div class="row">
					<div class="col-lg-12">
						<p class="sms-p2">Please enter a question.</p>
					</div>
				</div>

				{% endif %}

{% endblock %}
