@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Italic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-SemiBold.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-SemiBoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'SeMS-icons';
    src: url('../fonts/search-my-site-icon.woff2');
    font-weight: normal;
    font-style: normal;
}


:root {
    --highlight: #7E2269;
    --link-underline: #DBA0C7;
    --destroy-colour: #b70303;
    --large-font-size: 1.5rem;
    --xlarge-font-size: 2rem;
    --large-line-height: 2.5rem;
    --med-font-size: 1.25rem;
    --med-line-height: 2.2rem;
    --reg-font-size: 1rem;
    --reg-line-height: 1.5rem;
    --small-font-size: .75rem;
    --small-line-height: 1.1rem;
    --dark-gray: #333333;
    --semi-dark-gray: #4A4A4A;
    --medium-dark-gray: #bcbcbc;
    --light-gray:#CECECE;
    --medium-light-gray: #D9D9D9;
    font-size:calc(1vw);
}

/* DESKTOP LARGE REM SCALE */
@media screen and (min-width: 1200px) {
    :root {
        font-size:16px;
    }
}
/* TABLET - SMALL LAPTOP AND SMALLER REM SCALE*/
@media screen and (max-width: 1199px) {
    :root {
        font-size:12px;
    }
}

body.sms-body {
    font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
    font-display: swap;
}

/* ICONS */

div.sms-icons, span.sms-icons {
    font-family: 'SeMS-icons';
}

.sms-filters-icon {
    font-size: 1rem;
    position:relative;
}

.sms-filters-icon::before {
    font-family: 'SeMS-icons';
    content: "\E802";
    font-size: 2.2rem;
    display: block;
    position: absolute;
    left: -2.4rem;
    top: -0.8rem;
}
/* GENERAL */

a, a:link, a:visited {
    color: var(--dark-gray);
    padding: 0;
    font-weight: normal;
    border-bottom: 0.125rem solid transparent;
}

a.nav-link, a:link.nav-link, a:visited.nav-link
{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

a:hover {
    font-weight: bold;
    color: black !important;
    border-bottom: 0.125rem solid var(--link-underline);
}

em a, em a:link, em a:visited, em a:hover {
    color: var(--highlight) !important;
    font-weight: bold;
}

em a:hover {
    text-decoration: underline;
}

a.sms-btn:hover,
a.sms-medium-font.sms-btn:hover,
a.sms-large-font.sms-btn:hover  {
    font-weight: normal;
    border: none;
}

.sms-browse .sms-underline-link a:hover
{
    border: none;
    text-decoration: underline;
    font-weight: normal;
}

table.sms-browse td.sms-first-column-cell {
    height: 2.5rem;
    width: 50%;
}




.sms-logo img {
    width: 21rem;
}

.sms-logo a,
.sms-logo a:hover,
.sms-logo a:link,
.sms-logo a:visited {
    text-decoration: none;
    border: none;
}

.search-header {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    padding-top: 3.75rem;
}

.sms-standard p a,
.sms-standard p a:link,
.sms-standard p a:visited
{
    /* font-weight: bold; */
    border-bottom: 0.125rem solid var(--link-underline);
}
p.sms-p1, ul.sms-list-1 li {
    font-size: var(--large-font-size);
    line-height: var(--large-line-height);
    margin-bottom: 1.5rem;
}

p.sms-p2, ul.sms-list-2 li {
    font-size: var(--med-font-size);
    line-height: var(--med-line-height);
    margin-bottom: 1rem;
}

p, p.sms-p3{
    font-size: var(--reg-font-size);
    line-height: var(--reg-line-height);
    margin-bottom: 0.3rem;
}

p.sms-p4{
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
    margin-bottom: 0.3rem;
}

pre {
    font-size: var(--reg-font-size);
    line-height: var(--reg-line-height);
    margin-bottom: 0.3rem;
}

ul.sms-list-1.sms-special-bullet li {
    list-style: none;
    padding: 0 0 0 2rem;    
}


ul.sms-list-1.sms-special-bullet li:before
{
    content: '\2749';
    margin-right: 1rem;
    margin-left: -2rem;
}

h1.sms-h1 {
    color: var(--highlight);
}

h2.sms-h2 {
    font-size: var(--xlarge-font-size);
    font-weight: bold;
}

h3.sms-h3 {
    font-size:var(--large-font-size);
    font-weight: bold;
}

h4.sms-h4 {
    margin-bottom: 2rem;
}
.sms-standard ul.sms-list-2 li {
    margin-bottom: .5rem;
}

.sms-standard .sms-h1 {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.sms-standard .sms-h2 {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.sms-standard .sms-h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

/** Tables **/
.sms-table td {
    padding: 1rem 1rem 1rem 0;
}

.sms-table td, .sms-table th {
    font-size: var(--med-font-size);
}


.sms-table-sml td, .sms-table-sml th {
    font-size: var(--reg-font-size);
}

.sms-table.sms-definition-table td:nth-child(1) {  
    font-weight: bold;
  }

.sms-table th {
    padding: 1rem 0 1rem 0;
    border-bottom:.2rem solid var(--medium-dark-gray);
}


blockquote.sms-quote-1 {
    font-size:1.875rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.0625rem solid var(--light-gray);
    border-bottom: 0.0625rem solid var(--light-gray);
    font-style: italic;
}

blockquote::before {
    content: "\275D";
}

blockquote::after {
    content: "\275E";
}


.sms-medium-font {
    font-size: var(--med-font-size);
}

.sms-large-font {
    font-size: var(--large-font-size);
}

a.sms-medium-font, a.sms-medium-font:link,
a.sms-medium-font:visited {
    border-bottom: 0.125rem solid transparent;
}

a.sms-medium-font:hover {
    border-bottom: 0.125rem solid var(--link-underline);
} 

a.sms-large-font, a.sms-large-font:link,
a.sms-large-font:visited {
    border-bottom: 0.25rem solid transparent;
}

a.sms-large-font:hover {
    border-bottom: 0.25rem solid var(--link-underline);
}

.sms-search-input {
    padding: 0.9375rem 0.9375rem 0.9375rem 1.75rem;
    border-radius: 1rem;
    border-color: var(--highlight);
    border-width: 0.03125rem;
}

.sms-search-btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    color: white;
    background-color: var(--highlight);
    border-color: var(--highlight);
    border-width: 0.03125rem;
}

.sms-user-nav  ul li.nav-item{
    padding: 0rem 2rem 0 0;
    /* width: 7rem; */
    text-align: right;
}

.sms-under-search-btns ul li.nav-item{
    margin-top: 3rem;
    /* width: 7rem; */
}

.sms-under-search-btns ul{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.sms-under-search-btns ul li a.nav-link,
.sms-user-nav ul li a.nav-link{
    width: fit-content;
}
.sms-user-nav ul li a.nav-link {
    padding: 0 !important;
}


.sms-under-search-btns .nav .nav-link {
    font-size: var(--large-font-size);
}

/* Home ******************* */
.sms-home-main-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
}
.sms-home-header {
    height: 15vh;
}

.sms-home-intro-txt {
    margin-top: 3vh;
    padding-top: 0.5rem;
    border-top: 0.0625rem solid var(--light-gray);
    border-bottom: 0.0625rem solid var(--light-gray);
    padding-bottom: 1rem;
}

.sms-home-intro-txt h1 {
    line-height: 2rem;
    font-size: var(--med-font-size);
}

.sms-search-form {
    margin-top: 20vh;
}

.sms-search-form-layout {
    margin-top: 4vh;
}

.sms-layout-header {
    padding-bottom:2rem;
    background-color: var(--medium-light-gray);
}

.row.sms-bottom-line-container {
    position: relative;
    text-align: center;
    flex-grow: 1;
}

.sms-home .sms-bottom-line {
    margin-top: auto;
    padding-bottom: 1rem;
}

.sms-dotted-line {
    border-bottom: .1rem dotted var(--medium-dark-gray);
}

.row.sms-bottom-line-container img {
    height: 2.2rem;
    margin-bottom: 1rem;
}

.sms-h-line {
    border-bottom: .2rem dotted var(--light-gray);
}

.sms-v-stripes {
    background-image: url("../images/stripes.png");
    background-repeat: repeat;
    height:100%;
    width: 80%;
}
.sms-about-section{
    padding-bottom: 5rem;
}
.sms-about-text {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sms-about-text h1 {
    margin-bottom:2.5rem;
}

.sms-r-stripe {
    margin-left: 20%;
}

.sms-body footer {
    background-color: var(--dark-gray);
    color: white;
    padding-top:4rem;
    padding-bottom:4rem;
}
.sms-body footer a,
.sms-body footer a:link,
.sms-body footer a:visited,
.sms-body footer a:hover{
    color: white !important;
}

/* SPACERS ************************** */
.sms-b-4 {
    margin-bottom: .25rem !important;
}
.sms-b-8 {
    margin-bottom: .5rem !important;
}
.sms-b-16 {
    margin-bottom: 1rem !important;
}
.sms-b-20 {
    margin-bottom:1.25rem !important;
}
.sms-b-20 {
    margin-bottom:1.25rem !important;
}
.sms-b-24 {
    margin-bottom:1.5rem !important;
}
.sms-b-32 {
    margin-bottom:2rem !important;
}
.sms-b-48 {
    margin-bottom:3rem !important;
}
.sms-b-72 {
    margin-bottom:4.5rem !important;
}
.sms-b-80 {
    margin-bottom:5rem !important;
}

.sms-t-4 {
    margin-top: .25rem !important;
}
.sms-t-8 {
    margin-top: .5rem !important;
}
.sms-t-16 {
    margin-top: 1rem !important;
}
.sms-t-20 {
    margin-top:1.25rem !important;
}
.sms-t-24 {
    margin-top:1.5rem !important;
}
.sms-t-32 {
    margin-top:2rem !important;
}
.sms-t-48 {
    margin-top:3rem !important;
}
.sms-t-72 {
    margin-top:4.5rem !important;
}
.sms-t-80 {
    margin-top:5rem !important;
}


.sms-pr-0 {
    padding-right: 0 !important;
}

/* SEARCH RESULTS ************************** */

.nav.sms-filters .nav-item {
    width: 100%;
}
  
.nav.sms-filters {
    width: 100%;
    text-align: right; 
}

.sms-search-layout .sms-under-search-btns ul {
    width: 100%;
}

.sms-search-layout .sms-under-search-btns ul li.nav-item{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}


.sms-results-form {
    margin-top: 2rem;
    padding-left:2rem;
}

.sms-feed::before, .sms-feed::after {
    content: "~";
}

.sms-feed {
    width: auto;
}

.form-select.sms-select {
    border: none;
    background-color: transparent;
    display: inline;
    padding: 0 3rem 0 0;
    border-bottom: 0.25rem solid var(--link-underline);
    border-radius: 0;
    width: auto;
}

.sms-sort-label {
    padding-right: 1rem;
}

.sms-sort-container {
    float: right;
    width: auto;
}

.sms-results-filter-container {
    justify-content: space-between;
}

.sms-results-top-info {
    margin-bottom: 2rem;
}

.sms-results-list a.result-link,
.sms-results-list a.result-link:link,
.sms-results-list a.result-link:visited,
.sms-results-list a.result-link:hover {
    color: var(--highlight) !important;
}

.sms-results-list h2.sms-h2 {
    margin-left: -2.5rem;
}

h2.sms-h2 a,
h2.sms-h2 a:link,
h2.sms-h2 a:visited
{
    font-weight: bold;
}

.sms-results-list h2.sms-h2 a::before {
    content:"\E800";
    font-family: 'SeMS-icons';
    color: var(--medium-dark-gray);
    padding-right: .5rem;
    display: block;
}

.sms-results-list h2.sms-h2 a:hover::before {
    color: var(--highlight);
}

.sms-results-list h2.sms-h2 a:hover {
    opacity: 1;
}

#result-hightlight {
    color:var(--dark-gray);
}

.sms-subresult a,
.sms-subresult a:visited,
.sms-subresult a:link
{
    color: var(--semi-dark-gray);
}

.result-title {
    flex-direction: row;
    display: flex;
}

#result-published-date {
    font-size:var(--med-font-size);
    font-weight: normal;
    font-style: italic;
    color: var(--semi-dark-gray);
    margin-top: -0.45rem;
    margin-bottom: 0.7rem;
}

.page-item.active {
    border: 2px solid var(--dark-gray);
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
  }

.pagination .page-link {
    background-color: transparent !important;
    border: none;
    color: var(--dark-gray);
    font-weight: bold;
    font-size: var(--med-font-size);
    padding-top: .2rem;
}

.sms-feed-link:hover .sms-feed-label::before {
    font-weight: normal;
}

.sms-feed-link .sms-feed-label {
    font-style: italic;
}

.sms-feed-link .sms-feed-label::before {
    font-style: normal;
    font-family: 'SeMS-icons';
    content: "\E803";
    color: var(--highlight);
    font-size: 2.4rem;
    display: block;
    float: left;
    margin-top: -0.9rem;
}


/* DESKTOP ***********/
/* @media screen and (min-width: 768px) {
   
} */

/* MOBILE ***********/
@media screen and (max-width: 767px) {
    .search-header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
    }
    .sms-search-form {
        margin-top: 10vh;
    }
    .sms-home-intro-txt {
        margin-top: 19vh;
    }

    .container-fluid {
        padding-right: var(--bs-gutter-x,1.2rem);
        padding-left: var(--bs-gutter-x,1.2rem);
    }

    .nav.sms-filters {
        width:initial;
    }
    
    .sms-search-layout .sms-under-search-btns ul {
        width:initial;
    }

    a.nav-link, a:link.nav-link, a:visited.nav-link {
        padding: 0 .5rem 0 .5rem;
    }
} 


@media (max-width: 576px) {
    #topnav {
        border: 1px solid #c6c5c5;
        border-radius: .5rem;
        padding: 1rem;
        margin-top: 1rem;
        background-color: white;

    }

    #topnav ul li {
        margin-bottom: 1rem;
    }

    #topnav ul li:first-of-type {
        margin-top: 1rem;
    }

}


/**
Forms
**/
.sms-body form label,
.sms-body form input,
.sms-body form button
{
    margin-bottom: 1rem;
}

.sms-body form.sms-results-form label,
.sms-body form.sms-results-form input,
.sms-body form.sms-results-form button,
.sms-body form.sms-search-layout button,
.sms-body form.sms-search-layout input,
.sms-body form.sms-search-layout label
{
    margin-bottom:0;
}

/** Link Buttons **/
.sms-min-width-btn {
    width: 13rem;
}

a:link.sms-btn-link,
a:visited.sms-btn-link,
a:hover.sms-btn-link,
a.sms-btn-link {
    color: white !important;
    padding: .375rem .9rem .375rem .9rem;
    font-weight: normal;
    border: none !important;
}

.sms-btn-link-destroy {
    background-color: var(--destroy-colour);
}

/**
Badges
**/

.badge.bg-primary,
a.badge.bg-primary,
a:hover.badge.bg-primary,
a:link.badge.bg-primary,
a:visited.badge.bg-primary
 {
    padding: .3rem .5rem .2rem .5rem;
    color: white !important;
    border: none;
    font-weight: normal;
    font-family: sans-serif;
}

/**
 sms-bottom-line-container remove row for mobile? Row ads padding
 Solve the problem with internal padding, make sure that doesn't expand box.
 Lets set a rigid 100% widht or a specific viewport width.



*/
