{% extends "layoutwithsearchbox.html" %}

{% block title %}Search My Site - About{% endblock %}

{% block content %}
<div class="row col-md-10 offset-md-1 sms-standard">
	<div class="col-lg-12">


		<p class="sms-p1">
		<blockquote class="sms-quote-1">

			<h1 class="sms-h1">About searchmysite.net</h1>

			<h3 class="sms-h3" id="search-engine">What is the search engine and why should I use it?</h3>
			<p class="sms-p2">
				The searchmysite.net search engine is a boutique search for personal websites
				(also known as the "<a href="/search/?q=indieweb">indieweb</a>" or
				"<a href="/search/?q=%22small%20web%22">small web</a>" or
				"<a href="/search/?q=%22digital%20gardens%22">digital gardens</a>").
			</p>
			<p class="sms-p2">
				If you want to research people's personal experiences of certain topics,
				hobbies or interests, then you may find the searchmysite.net public search useful to avoid
				having to wade through all the marketing websites and blog spam that fill the big search
				engines. It differs from the commercial search engines because it:
			<ul class="sms-list-2">
				<li>
					<strong>Indexes only user-submitted and moderated sites</strong>,
					rather than indexing the entire internet with all of its
					spam, "search engine optimisation" and "click-bait" content.
				</li>
				<!--
							<li>
								<strong>Builds its own search index</strong> 
								for full and transparent control over results ranking, 
								rather than buying in results from other search engines.
							</li>
							-->
				<li>
					<strong>Does not show adverts and promotes advert-free results</strong>
					pages, to remove the incentives for spam and surveillance capitalism.
				</li>
				<li>
					<strong>Aims to have a sustainable and user-aligned operating model</strong>,
					planning to pay running costs via the "search as a service" features,
					rather than relying on advertising which could put it in conflict with user needs.
				</li>
				<li>
					<strong>Offers an unusually high level of privacy for a search engine</strong>,
					thanks to the operating model which is not based on advertising or collecting personal
					information for sale to advertisers (see the <a href="/pages/privacy/">Privacy Policy</a> for full
					details).
				</li>
				<li>
					<strong>Is fully open source</strong>,
					for even greater transparency of the searching, ranking and indexing processes,
					and for greater community involvement in improving the service.
				</li>
				<!--
							<li>
								<strong>Is easy to self-host</strong>, 
								allowing people to set up their own instances to search other parts of the internet, 
								opening up exciting new possibilities for search.
							</li>
							<li>
								This instance <strong>only searches personal and independent websites</strong>, 
								helping you find interesting and original content 
								which can be hard to find elsewhere nowadays.
							</li>
							-->
			</ul>
			</p>

			<h3 class="sms-h3" id="search-as-a-service">What is the search as a service and why should I use it?</h3>
			<p class="sms-p2">
				The searchmysite.net search as a service is a way to provide a site-specific search
				without having to install and run your own search engine.
			</p>
			<p class="sms-p2">
				If you have a small to medium sized web site and you would like to add search functionality,
				searchmysite.net can help you do so relatively easily, quickly and cost effectively.

				Features include on-demand reindexing, a simple API, and the ability to customise what is indexed.

				It is tried and tested,
				powering the searchmysite.net search engine since July 2020,
				and differs from other commercial search as a service providers because it is:
			<ul class="sms-list-2">
				<li>
					<strong>Easy to setup</strong> -
					just click Add Site and follow one of the Verified Add options.
				</li>
				<li>
					<strong>Low cost</strong>,
					currently just £12.00 a year for up to 500 pages fully indexed twice a week.
				</li>
				<li>
					<strong>Open source and self-hostable</strong>,
					so you can inspect the code, improve upon it, and even manage your own instance.
				</li>
			</ul>
			<p class="sms-p2">Note that your site does not have to be included in the public search in order to use the
				search as a service,
				so it does not have to be a personal or independent website.</p>
			</p>

			<h3 class="sms-h3" id="who">Who has developed this site?</h3>
			<p class="sms-p2">
				This site has been developed by <a href="https://michael-lewis.com/">Michael Ian Lewis</a>
				of <a href="https://aeliantech.com/">Aelian Tech Ltd</a>.
			</p>

			<h3 class="sms-h3" id="how-it-works">Where can I find out more?</h3>
			<p class="sms-p2">
				Check out the <a href="https://blog.searchmysite.net/">Blog</a> for
				posts on various aspects of its development,
				see the <a href="/pages/documentation/">Documentation</a> for
				frequently asked questions, information on the query syntax, indexed fields, indexing process and API,
				and
				search for <a href="/search/?q=searchmysite.net">searchmysite.net</a> to see what others are saying
				about it.
			</p>

	</div>
</div>
{% endblock %}
