{% extends "layoutwithsearchbox.html" %}

{% block title %}Search My Site - Privacy Policy{% endblock %}

{% block content %}
			<div class="row mt-5">
				<div class="col-md-10 offset-md-1">

					<h2>Privacy Policy</h2>
					<p>
						This site has taken significant steps to protect your privacy.
						It should remain this way, given the operating model is not based on advertising 
						or collecting personal information for sale to advertisers.
					</p>
					<h3>Cookies</h3>
					<p>
						There are no cookies at all for most of this site.
					</p>
					<p>
						There is however one cookie used during the "Add Site" and "Manage Site" workflows. This is called 
						"session" and is just used for preserving state between requests to improve the experience. 
						As it's name suggests, this is a session cookie rather than a persistent cookie,
						so is deleted as soon as you logout or close your browser.
					</p>
					<h3>Third-party code</h3>
					<p>
						No files are downloaded from third parties, so there is no opportunity 
						for third parties to track your use of this site.
					</p>
					<h3>Personal information</h3>
					<p>
						No personal information is gathered while searching on this site.
					</p>
					<p>
						In the "Add Site" and "Manage Site" sections, site owners are asked for their site's admin email address.
						This is so that they can be notified about important changes to their listing, e.g. if their listing 
						was about to expire. Note that the admin email address for a domain is often a shared account, e.g. admin@example.com, 
						and is sometimes publicly available via whois, so is not necessarily personally identifiable information.
					</p>
					<h3>Analytics</h3>
					<p>
						This site uses the <a href="https://plausible.io/privacy-focused-web-analytics">Plausible Analytics</a> privacy-focussed web analytics solution  
						to help monitor and improve the service. This solution does not use any cookies, and 
						(in the configuration used here) does not download files from outside searchmysite.net or send any data beyond
						searchmysite.net.
					</p>

				</div>
			</div>
{% endblock %}
