{% extends "layoutwithsearchbox.html" %}

{% block title %}Search My Site - Terms of Use{% endblock %}

{% block content %}
			<div class="row mt-5">
				<div class="col-md-10 offset-md-1">

					<h2>Terms of Use</h2>

					<p>
						Welcome to searchmysite.net ("the Site"), the independent search engine and search as a service.
						It has been brought to you by michael-lewis.com ("We").
						These are the terms and conditions of use ("Terms of Use") for the Site.
						We reserve the right to change the Terms of Use. 
						By using the Site you are agreeing to the Terms of Use.
					</p>

					<h3>Submission guidelines</h3>
					<p>
						You must only submit sites belonging to one of the site categories listed. 
						These are currently "personal websites" and "independent websites".
					</p>
					<p>
						"Personal websites" are defined as websites primarily for an individual's personal (rather than business) use, 
						where the individual owns both the content and the domain (i.e. it isn't on or owned by a centralised platform). 
					</p>
					<p>
						"Independent websites" are defined as special interest websites, 
						i.e. websites about a specific topic or a broad range of topics, 
						which are operated by an individual or group on a largely non-commercial basis, 
						and where the individual or group owns both the content and the domain 
						(i.e. it isn't on or owned by a large commercial entity).
					</p>
					<p>
						In addition, all sites submitted must also be suitable for minors (given 
						the <a href="/pages/privacy/">Privacy Policy</a> is such that there is no age verification to use the Site),
						and all sites submitted must comply with all laws in your jurisdiction.
					</p>

					<h3>Site removal</h3>
					<p>
						We reserve the right to reject or remove inappropriate or unsuitable sites, 
						i.e. sites which break the submission guidelines and hence Terms of Use.
						If verified site owners have submitted a site which is found to have broken the Terms of Use, 
						their site will be removed and an attempt made to notify them 
						(if they have paid a listing fee this will be refunded minus an admin fee).
					</p>
					<p>
						If you find a site which you believe breaks the Terms of Use, please <a href="/admin/contact/">Contact Us</a> 
						to report this.
					</p>
					<p>
						Verified site owners are free to remove their own sites whenever they wish, 
						and there is a button on the Manage Site page which makes it easy to do so. 
						If a site site has been added via Quick Add and you would like to see it removed, 
						please <a href="/admin/contact/">Contact Us</a> to explain why you would like to see it removed. 
						There will normally not be an issue doing so, but if we believe this is being abused we reserve the right
						to not action the request.
					</p>

					<h3>Search as a service</h3>
					<p>
						If you use the search as a service, you must not put unreasonable load on the Site, e.g. by 
						excessive use of the reindex on demand functionality, or by making very high numbers of API calls.
						We reserve the right to introduce limits on use in future.
					</p>
					<p>
						We take uptime very seriously, but cannot guarantee 100% availability.
					</p>

					<h3>Governing law/jurisdiction</h3>
					<p>
						The Site's servers are currently based in the United Kingdom, and governed by the laws of the 
						United Kingdom.
					</p>

					<h3>General conditions</h3>
					<p>
						Use of the Site is at your own risk. The Site is provided on an "as is" and "as available" basis.
						We cannot be held accountable for any form of loss to you through your use of the Site. 
					</p>
					<p>
						Hopefully all of this is fairly clear and reasonably fair, 
						but if you have any questions about these Terms of Use please <a href="/admin/contact/">Contact Us</a>.
					</p>

					<p>
						Last updated: 19 November 2020.
					</p>

				</div>
			</div>
{% endblock %}
