{% extends "layout.html" %}

{% block searchbox %}
			<form action="/search/" class="sms-search-form">
				<div class="row mt-1">
					<div class="col-md-12 pt-3">
						<div class="input-group">
							<input type="search" class="form-control sms-search-input sms-large-font" placeholder="Search..." name="q" id="query" aria-label="Search query" value="{% if params %}{{ params['q'] }}{% endif %}">
							<button class="input-group-text sms-search-btn" type="submit">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
									<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-lg-12 text-center mt-1">
					<nav class="navbar navbar-expand-sm justify-content-center sms-under-search-btns">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link sms-large-font" href="/search/browse/">Browse</a>
							</li>
						</ul>
						<ul class="nav ps-5">
							<li class="nav-item ms-5">
								<a class="nav-link sms-large-font" href="/search/new/">Newest</a>
							</li>
						</ul>
						<ul class="nav ps-5">
							<li class="nav-item ms-5">
								<a class="nav-link sms-large-font" href="/search/random/" target="_blank" rel="noopener noreferrer">
									Random
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

{% endblock %}

