<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="description" content="searchmysite.net is an independent open source search engine and search as a service which indexes only user-submitted personal and independent websites, builds its own search index, does not show adverts and promotes advert-free results.">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
	<script defer src="/static/js/jquery-3.5.1.slim.min.js"></script>
	<script defer src="/static/js/bootstrap.min.js"></script>
	<script async defer data-domain="searchmysite.net" src="https://stats.searchmysite.net/js/plausible.js"></script>
	<link href="/opensearch.xml" rel="search" title="searchmysite.net" type="application/opensearchdescription+xml">
	{% block head %}{% endblock %}
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link navbar-brand" href="/">Search My Site</a>
				</li>
			</ul>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0" id="topnav">
				<ul class="navbar-nav text-right">
					<li class="nav-item">
						<a class="nav-link" href="/admin/add/">Add Site</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/manage/">Manage Site</a>
					</li>
					{% if session.get('is_admin') == True %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('admin.review') }}">Review</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('admin.remove') }}">Remove</a>
					</li>
					{% endif %}
					{% if session.get('logged_in_domain') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div class="container-fluid h-100 mt-5">

			{% block searchbox %}{% endblock %}

			{% for message in get_flashed_messages() %}
			<div class="alert alert-warning" role="alert">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}

			<div class="row mt-5">
				<div class="col"></div>
			</div>
		</div>
	</main>

	<footer class="footer mt-5">
		<nav class="navbar navbar-light bg-light justify-content-center align-items-start">
			<ul class="nav flex-column ml-5 mr-5">
				<li class="nav-item p-1">Community</li>
				<li class="nav-item p-1"><a href="https://blog.searchmysite.net/">Blog</a></li>
				<li class="nav-item p-1"><a href="/admin/contact/">Contact</a></li>
				<li class="nav-item p-1"><a href="/pages/documentation/">Documentation</a></li>
				<li class="nav-item p-1"><a href="https://github.com/searchmysite/searchmysite.net">Source</a></li>
			</ul>
			<ul class="nav flex-column ml-5 mr-5">
				<li class="nav-item p-1">Product</li>
				<li class="nav-item p-1"><a href="/pages/about/">About</a></li>
				<li class="nav-item p-1"><a href="/pages/privacy/">Privacy</a></li>
				<li class="nav-item p-1"><a href="/pages/terms/">Terms</a></li>
			</ul>
		</nav>
	</footer>

</body>
</html>
