{% extends "layout.html" %}

{% block title %}Search My Site - Add Site Success{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active">Quick Add</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add.indieauth') }}">Verified Add (IndieAuth)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add.dcv') }}">Verified Add (DCV)</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">

					<p>
						You have successfully submitted your site.
						The content will be checked to confirm it is a personal site, and if the site passes
						it will be queued for indexing.
						This process may take a few hours or days depending on various factors.
					</p>
		
				</div>
			</div>

{% endblock %}
