{% extends "layout.html" %}

{% block title %}Search My Site - Add Site via IndieAuth Step 1{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add.quick') }}">Quick Add</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active">Verified Add (IndieAuth)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add.dcv') }}">Verified Add (DCV)</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">

					{% if config['ENABLE_PAYMENT'] == True %}
					<ul id="progressbar4step">
						<li class="active" id="step1of4">Home Page</li>
						<li id="step2of4">Email</li>
						<li id="step3of4">Payment</li>
						<li id="step4of4">Complete</li>
					</ul>
					{% else %}
					<ul id="progressbar3step">
						<li class="active" id="step1of3">Home Page</li>
						<li id="step2of3">Email</li>
						<li id="step3of3">Complete</li>
					</ul>
					{% endif %}

					<form action="https://indielogin.com/auth" method="get">
						<div class="form-group">
							<label for="url" class="col-form-label">Home page</label>
							<input type="url" name="me" class="form-control" id="url" placeholder="Home page" aria-describedby="homepage-help" required autofocus/>
							<small id="homepage-help" class="form-text text-muted">
								Enter the home page of your site, as you normally enter it for IndieAuth logins. 
								This value is your login ID, 
								the start page for the indexing of your site, and 
								is used for your site's entry on the Browse page.
							</small>
						</div>
						<button type="submit" class="btn btn-primary">Validate</button>
						<input type="hidden" name="client_id" value="{{ client_id }}" />
						<input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
						<input type="hidden" name="state" value="{{ state }}" />
					</form>

				</div>
			</div>

{% endblock %}
