{% extends "layout.html" %}

{% block title %}Search My Site - Add Site Step 4{% endblock %}

{% block head %}<script src="https://js.stripe.com/v3/"></script>
<script>
	var checkout_config = "{{ url_for('checkout.get_publishable_key') }}";
	var checkout_url = "{{ url_for('checkout.create_addsite_checkout_session') }}";
</script>
<script src="/static/js/searchmysite-stripe.js"></script>{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active">Add Site</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">

					{% if config['ENABLE_PAYMENT'] == True and tier == 3 %}
					<ul id="progressbar5step">
						<li class="active" id="step1of5">Login &amp; validation method</li>
						<li class="active" id="step2of5">Email{% if login_type == 'PASSWORD' %} &amp; password{% endif %}</li>
						<li class="active" id="step3of5">Validate</li>
						<li class="active" id="step4of5">Payment</li>
						<li id="step5of5">Complete</li>
					</ul>
					{% endif %}

					<p>
						Ownership of your site has been successfully validated.
						To begin indexing, please enter your payment details.
					</p>

					<form>
						<button type="button" class="btn btn-primary" id="submitBtn">Purchase</button>
					</form>

				</div>
			</div>

{% endblock %}
