{% extends "layout.html" %}

{% block title %}Search My Site - Add Site via DCV{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add.quick') }}">Quick Add</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('add.indieauth') }}">Verified Add (IndieAuth)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active">Verified Add (DCV)</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">

					{% if config['ENABLE_PAYMENT'] == True %}
					<ul id="progressbar5step">
						<li id="step1of5">Home Page</li>
						<li id="step2of5">Login Details</li>
						<li id="step3of5">Validate</li>
						<li id="step4of5">Payment</li>
						<li id="step5of5">Complete</li>
					</ul>
					{% else %}
					<ul id="progressbar4step">
						<li id="step1of4">Home Page</li>
						<li id="step2of4">Login Details</li>
						<li id="step3of4">Validate</li>
						<li id="step4of4">Complete</li>
					</ul>
					{% endif %}

					<p>
						If you don't have IndieAuth setup, you can still submit your site, but there are 2 extra steps:
						<ol>
							<li>You will have to create a password so you can login to subsequently manage your site.</li>
							<li>You will have to prove ownership of the domain by creating a TXT record or 
								upload an HTML file or add a META tag to your home page.</li> 
						</ol>
						The submission process has further information to guide you.
					</p>
					<a href="{{ url_for('add.viadcv1') }}" class="btn btn-primary">Add site with DCV</a>

				</div>
			</div>

{% endblock %}
