{% extends "layout.html" %}

{% block title %}Search My Site - Add Site{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active">Add Site</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-6 offset-md-3">

					<form action="{{ url_for('add.add') }}" method="post" name="searchmysite-add-site">
						<div class="form-group">
							<label for="home_page" class="col-form-label">Home page</label>
							<input type="url" name="home_page" class="form-control" id="home_page" placeholder="Home page" aria-describedby="homepage-help" required autofocus>
							<small id="homepage-help" class="form-text text-muted">
								Enter the home page of the site you would like to add (see <a href="/pages/documentation/" target="_blank">Documentation</a> for further guidance).
							</small>
						</div>
						<div class="form-group">
							<label for="site_category" class="col-form-label">Category</label>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="site_category" id="site_category-personal-website" value="personal-website" required>
								<label class="form-check-label" for="site_category-personal-website">
									Personal website
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="site_category" id="site_category-independent-website" value="independent-website" required>
								<label class="form-check-label" for="site_category-independent-website">
									Independent website
								</label>
							</div>
							<small id="site_category-help" class="form-text text-muted">
								Confirm what type of site it is (see <a href="/pages/terms/#submission-guidelines" target="_blank">Terms of Use</a> for definitions).
							</small>
						</div>
						<div class="form-group">
							<label for="tier" class="col-form-label">Listing tier</label>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="tier" id="tier-basic" value="1" required>
								<label class="form-check-label" for="tier-basic">
									Basic
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="tier" id="tier-free" value="2" required>
								<label class="form-check-label" for="tier-free">
									Free Trial
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="tier" id="tier-full" value="3" required>
								<label class="form-check-label" for="tier-full">
									Full
								</label>
							</div>
							<small id="tier-help" class="form-text text-muted">
								Select listing tier for your site. 
								Note that listings revert to lower tier on expiry if no further action taken.
							</small>
						</div>
					<table class="table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">{{ tiers[0]['tier_name'] }}</th>
								<th scope="col">{{ tiers[1]['tier_name'] }}</th>
								<th scope="col">{{ tiers[2]['tier_name'] }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Full indexing frequency</th>
								<td><span style="white-space: nowrap;">{{ tiers[0]['full_reindex_frequency'] }}</span></td>
								<td>{{ tiers[1]['full_reindex_frequency'] }}</td>
								<td>{{ tiers[2]['full_reindex_frequency'] }}</td>
							</tr>
							<tr>
								<th scope="row">Incremental indexing frequency</th>
								<td><span style="white-space: nowrap;">{{ tiers[0]['incremental_reindex_frequency'] }}</span></td>
								<td>{{ tiers[1]['incremental_reindex_frequency'] }}</td>
								<td>{{ tiers[2]['incremental_reindex_frequency'] }}</td>
							</tr>
							<tr>
								<th scope="row">Indexing page limit</th>
								<td><span style="white-space: nowrap;">{{ tiers[0]['indexing_page_limit'] }}</span></td>
								<td>{{ tiers[1]['indexing_page_limit'] }}</td>
								<td>{{ tiers[2]['indexing_page_limit'] }}</td>
							</tr>
							<tr>
								<th scope="row">On-demand reindexing</th>
								<td>{{ tiers[0]['on_demand_reindexing'] }}</td>
								<td>{{ tiers[1]['on_demand_reindexing'] }}</td>
								<td>{{ tiers[2]['on_demand_reindexing'] }}</td>
							</tr>
							<tr>
								<th scope="row">API enabled</th>
								<td>{{ tiers[0]['api_enabled'] }}</td>
								<td>{{ tiers[1]['api_enabled'] }}</td>
								<td>{{ tiers[2]['api_enabled'] }}</td>
							</tr>
							<tr>
								<th scope="row">Access Manage Site to configure indexing</th>
								<td>{{ tiers[0]['access_to_manage'] }}</td>
								<td>{{ tiers[1]['access_to_manage'] }}</td>
								<td>{{ tiers[2]['access_to_manage'] }}</td>
							</tr>
							<tr>
								<th scope="row">Cost</th>
								<td>{{ tiers[0]['cost'] }}</td>
								<td>{{ tiers[1]['cost'] }}</td>
								<td>{{ tiers[2]['cost'] }}</td>
							</tr>
							<tr>
								<th scope="row">Listing duration</th>
								<td>n/a</td>
								<td>{{ tiers[1]['duration'] }}</td>
								<td>{{ tiers[2]['duration'] }}</td>
							</tr>
							<tr>
								<th scope="row"></th>
								<td></td>
								<td><small>Requires proof of domain ownership.</small></td>
								<td><small>Requires proof of domain ownership and one-off credit card payment.</small></td>
							</tr>
						</tbody>
					</table>

					<button type="submit" class="btn btn-primary mt-3" id="add-site">Add Site</button>
					
					</form>

				</div>
			</div>

{% endblock %}
