{% extends "layout.html" %}

{% block title %}Search My Site - Forgotten password{% endblock %}

{% block content %}

			<div class="row">
				<div class="col-md-4 offset-md-4">

					<p>If you have forgotten your password, you can have a link sent to your registered email address that will allow you to login and change your password.</p>

					<p>Enter your website domain to send the link:</p>
					
					<form action="{{ url_for('auth.forgottenpassword_post') }}" method="post">
						<div class="form-group">
							<label for="domain" class="sr-only">Domain</label>
							<input type="text" name="domain" id="domain" class="form-control" placeholder="Domain" required>
						</div>
						<button type="submit" class="btn btn-primary btn-block">Send password change link</button>
					</form>

					<p class="mt-4">If you have forgotten your email address or did not set a valid one, then please use the <a href="{{ url_for('contact.contact') }}">Contact</a> link.</p>

				</div>
			</div>

{% endblock %}
