{% extends "layout.html" %}

{% block title %}Search My Site - Login{% endblock %}

{% block content %}

			<div class="row">
				<div class="col-md-6 offset-md-3">

					<form action="https://indielogin.com/auth" method="get">
						<div class="d-grid">
							<label for="url" class="visually-hidden">Domain</label>
							<input type="text" name="me" class="form-control  sms-b-16" id="url" placeholder="Home page" required/>
							<button type="submit" class="btn btn-primary">Login with IndieAuth</button>
							<input type="hidden" name="client_id" value="{{ client_id }}" />
							<input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
							<input type="hidden" name="state" value="{{ state }}" />
						</div>
					</form>

					<div class="row mt-4 mb-2">
						<div class="col"><hr/></div>
						<div class="col"><p class="text-center">OR</p></div>
						<div class="col"><hr/></div>
					</div>

					<form method="post">
						<div class="d-grid">
							<label for="domain" class="visually-hidden">Domain</label>
							<input type="text" name="domain" class="form-control sms-b-16" id="domain" placeholder="Domain" required>
							<label for="password" class="visually-hidden">Password</label>
							<input type="password" name="password" id="password" class="form-control sms-b-16" placeholder="Password" required>
							<button type="submit" class="btn btn-primary">Login with password</button>
							<div class="text-center"><small><a class="nav-link sms-forgot-pass-lnk" href="{{ url_for('auth.forgottenpassword_get') }}">Forgot password</a></small></div>
						</div>
					</form>

				</div>
			</div>

{% endblock %}
