{% extends "layout.html" %}

{% block title %}Search My Site - Manage My Site{% endblock %}

{% block head %}<script src="https://js.stripe.com/v3/"></script>
<script>
	var checkout_config = "{{ url_for('checkout.get_publishable_key') }}";
	var checkout_url = "{{ url_for('checkout.create_subsrenewal_checkout_session') }}";
</script>
<script src="/static/js/searchmysite-stripe.js"></script>{% endblock %}

{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('manage.sitedetails') }}">Site details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('manage.indexing') }}">Indexing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active">Subscriptions</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-sm-3 col-md-2 text-end">
					<label for="current_tier" class="col-form-label">Current tier:</label>
				</div>
				<div class="col-sm-6 col-md-8">
					<input type="text" readonly class="form-control-plaintext" id="current_tier" value="{{ tier['tier_name'] }} Tier {{ tier['status'] }} to {{ tier['listing_end']|datetimeformat }}" aria-describedby="current_tier_help">
					<small id="current_tier_help" class="form-text text-muted">
						This is the current listing type and end date for your site.
					</small>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-sm-3 col-md-2 text-end">
					Subscriptions:
				</div>
				<div class="col-sm-6 col-md-8">

			{% if subscriptions %}

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Type</th>
								<th scope="col">Status</th>
								<th scope="col">Start</th>
								<th scope="col">End</th>
							</tr>
						</thead>
						<tbody>

			{% for subscription in subscriptions %}

							<tr>
								<td>{{ subscription['tier_name'] }}</td>
								<td>{{ subscription['status'] }}</td>
								<td>{{ subscription['subscription_start']|datetimeformat }}</td>
								<td>{{ subscription['subscription_end']|datetimeformat }}</td>
							</tr>

			{% endfor %}

					</table>
					<small id="subscriptions_help" class="form-text text-muted">
						These are the subscription(s) you have purchased for your site.
					</small>
					<p></p>

			{% else %}
				<p>You have no subscriptions.</p>
			{% endif %}

			<form>
				<button type="button" class="btn btn-primary" id="submitBtn">Purchase</button>
			</form>

		</div>
	</div>

{% endblock %}
